@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  background-image: url("../public//banner.webp");
  background-size: cover;
  background-position: center;
  /* opacity: 0.6; */
}

.review-section {
  background-image: url("../public//happybaby.webp");
  background-size: cover;
  background-position: center;
}

.card-img {
  height: 250px !important;
}

.service-div{
  height: 450px;
}

.desc-img {
  height: 330px;
  width: 300px;
}

.review-card {
  height: 270px;
}

.detailed-img {
  height: 300px !important;
  width: 300px !important;
}

.break-lines {
  white-space: pre-wrap;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.logo {
  position: absolute;
  border-radius: 1rem;
  top: 0;
  padding: 10px;
}

.logo img {
  height: 120px;
}

@media screen and (max-width: 600px) {
  .logo {
    display: block;
    margin-top: 10px;
  }
  .logo img {
    height: 70px;
  }

  .review-card {
    height: max-content;
  }

  .detailed-img {
    height: 250px !important;
    width: auto !important;
  }
}
